a#userLink(href=router.getLink("userprofile", { user: user._id,}))
	.listedPerson.thumbnail
		.row
			.col-md-.col-sm-6
				.crop
						img.pull-left.rounded(src="https://graph.facebook.com/#{user.oauthID}/picture?type=large")
				.classtitle
					h3 #{user.name}
						br
						small #{user.general.hometown}